<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/admin.css")
        link(rel="stylesheet", href="/css/home.css")
        script(src="/js/admin.js")
        title Admin
    body
        include header.pug
        h1 Admin Portal
        hr
        each product in products
            div(class='det-body') 
                p(class='det') #{product.id}
                p(class='det') #{product.pname}
                p(class='det') #{product.price}
                p(class='det') #{product.desc}
                p(class='det') #{product.pic}
